@import './config/_var.scss';

div, button {
  box-sizing: border-box;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $orange;
  padding: 30px;
  .playerBlock {
    width: 732px;
    height: 732px;
    background-color: $white;
    @include border;
    position: relative;
    &::after {
      content: "";
      display: block;
      width: 19px;
      height: 732px;
      @include border;
      border-bottom-width: 2px;
      background-color: $gray;
      position: absolute;
      right: -25px;
      transform: skewY(45deg);
      transform-origin:left top;
      top: -5px;
    }
    &::before {
      content: "";
      display: block;
      width: 732px;
      height: 19px;
      @include border;
      border-right-width: 2px;
      background-color: $gray;
      position: absolute;
      bottom: -25px;
      transform: skewX(45deg);
      transform-origin:left top;
      left: -5px;
    }
    .top {
      height: 607px;
      padding-top: 36px;
      padding-left: 70px;
      .disc {
        width: 533px;
        height: 533px;
        border-radius: 500px;
        @include border;
        overflow: hidden;
        box-shadow: 0px 3px 6px $black16;
        position: relative;
        &::after {
          content: "";
          position: absolute;
          background-image: url("./assets/line3.svg");
          right: -10px;
          height: 100px;
          width: 100px;
        }
        img {
          width: 100%;
        }
        .discCover {
          height: 100%;
          width: 100%;
          top: 0;
          background-color: $white16;
          position: absolute;
          display: flex;
          justify-content: center;
          align-items: center;
          &::after {
            content: "";
            width: 100px;
            height: 100px;
            border-radius: 100px;
            background-color: $white;
            @include border;
          }
        }

      }
      .actBTnBlock {

      }
    }


  }
}