@import './config/_var.scss';

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $orange;
  padding: 30px;
  .playerBlock {
    width: 732px;
    height: 732px;
    background-color: $white;
    @include border;
    position: relative;
    &::after {
      content: "";
      display: block;
      width: 19px;
      height: 732px;
      @include border;
      border-bottom-width: 2px;
      background-color: $gray;
      position: absolute;
      right: -25px;
      transform: skewY(45deg);
      transform-origin:left top;
      top: -5px;
    }
    &::before {
      content: "";
      display: block;
      width: 732px;
      height: 19px;
      @include border;
      border-right-width: 2px;
      background-color: $gray;
      position: absolute;
      bottom: -25px;
      transform: skewX(45deg);
      transform-origin:left top;
      left: -5px;
    }
    .top {
      height: 607px;
      padding-top: 30px;
      padding-left: 70px;
      display: flex;
      .discBlock {
        width: 533px;
        height: 533px;
        position: relative;
        flex: none;
        .discLine1 {
          position: absolute;
          background-image: url("./assets/line.svg");
          background-repeat: no-repeat;
          background-position: center;
          top: 138px;
          left: -20px;
          height: 80px;
          width: 20px;
        }
        .discLine2 {
          position: absolute;
          background-image: url("./assets/line2.svg");
          background-repeat: no-repeat;
          background-position: center;
          top: 235px;
          right: -40px;
          height: 65px;
          width: 20px;
        }
        .discLine3 {
          position: absolute;
          background-image: url("./assets/line3.svg");
          background-repeat: no-repeat;
          background-position: center;
          top: 235px;
          right: -30px;
          height: 80px;
          width: 20px;
        }
        .disc {
          width: 100%;
          height: 100%;
          overflow: hidden;
          border-radius: 500px;
          box-shadow: 0px 3px 6px $black16;
          img {
            width: 100%;
          }
          .discCover {
            height: 100%;
            width: 100%;
            border-radius: 500px;
            top: 0;
            background-color: $white16;
            position: absolute;
            display: flex;
            justify-content: center;
            align-items: center;
            @include border;
            &::after {
              content: "";
              width: 100px;
              height: 100px;
              border-radius: 100px;
              background-color: $white;
              @include border;
            }
          }
        }
      }
      .actBTnBlock {
        width: 65px;
        margin-left: 15px;
        flex: none;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        .btn ~ .btn {
          margin-top: 20px;
        }


      }
    }
    .bottom {
      margin: 0 46px 27px 34px;
      .line1 {
        display: flex;
        justify-content: space-between;
        .left {
          h1 {
            margin: 0;
            font-size: 24px;
          }
          h2 {
            margin: 0;
            font-size: 16px;
            font-weight: normal;
          }
        }
        .center {
          .playBtnBlock {
            position: relative;
            .pin {
              position: absolute;
              top: -345px;
              left: -225px;
              z-index: 2;
            }
            .playBtn {
              position: absolute;
              width: 50px;
              top: -6px;
              left: -8px;
              z-index: 3;
              img {
                width: 100%;
              }
            }
            .playBtnShadow {
              position: absolute;
              width: 90px;
              height: 90px;
              background-color: #ccc;
              top: -24px;
              left: -24px;
              z-index: 1;
              border-radius: 90px;
              @include border;

            }
          }
        }
        .right {
          width: 170px;
          margin-top: 36px;
          display: flex;
          .soundIcon {
            flex: none;
            width: 22px;
            margin-left: 12px;
            margin-top: -4px;
            img {
              width: 100%;
            }
          }
        }
      }
      .line2 {
        margin-top: 22px;
        display: flex;
        .timeLabel {
          margin-top: -2px;
          &:nth-child(1) {
            padding-right: 6px;
          }
          &:nth-child(3) {
            padding-left: 6px;
          }
        }
      }
    }


  }
}